{% block content %}
<!-- Card-->
<div class="d-flex">
  <div class="card mx-auto" id="card_1">
    <!-- Card Image -->
    <img class="img-fluid" stlye="width: auto" src="static/images/foodrev-banner.png" alt="Card image cap">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title text-center">FoodRev Donation Sign In</h4>
      <!--Text-->
      <p class="h5 text-center mb-4">Sign in</p>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='signInRedirect()'>Sign In</a>
      </div>
    </form>
  </div>
</div>

</div>
<!--/.Card-->

{% endblock %}
