
{% block content %}
<!-- Card-->
<div class="card" id="card_4">
  <!-- Card Image -->
  <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title text-center">Date &amp; Time</h4>
    <h5 class="card-title text-center">click icons on the right to set</h5>

    <div class='input-group date md-form' id='datepicker'>
      <input type='text' id='datepicker_input' class="form-control" />
      <label for="datepicker_input" class="">Donation Date</label>
      <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </span>
    </div>
    <div class='input-group date md-form' id='timepicker_start'>
      <input type='text' id='timepicker_start_input' class="form-control" />
      <label for="timepicker_start__input" class="">Time Window Start</label>
      <span class="input-group-addon">
        <span class="fa fa-clock-o"></span>
      </span>
    </div>
    <div class='input-group date md-form' id='timepicker_end'>
      <input type='text' id='timepicker_end_input' class="form-control" />
      <label for="timepicker_end_datepicker_input" class="">Time Window Stop</label>
      <span class="input-group-addon">
        <span class="fa fa-clock-o"></span>
      </span>
    </div>

      <style>
        .fa-chevron-up {
          color:black
        }
        .fa-chevron-down {
          color:black
        }
      </style>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='scroll_to("#card_5")'>Next</a>
      </div>
    </form>
  </div>

</div>
<!--/.Card-->

{% endblock %}
