
{% block content %}
<!-- Card-->
<div class="d-flex">
<div class="card mx-auto" id="card_5">
    <!-- Card Image -->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title text-center">Point of Contact</h4>

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="point_of_contact" class="form-control">
        <label for="point_of_contact-">Name of Contact</label>
      </div>

      <div class="md-form">
        <i class="fa fa-phone-square prefix grey-text"></i>
        <input type="tel" id="phone_number" class="form-control">
        <label for="phone_number">Phone Number</label>
      </div>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='scroll_to("#card_6")'>Continue</a>
      </div>
    </form>
  </div>
  </div>

</div>
<!--/.Card-->

{% endblock %}
