
{% block content %}
<!-- Card-->
<div class="card" id="card_4">
    <!-- Card Image -->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title text-center">Date &amp; Time</h4>

                <div id="datetimepicker12"></div>

                <style>
                  .fa-chevron-up {
                    color:black
                  }
                  .fa-chevron-down {
                    color:black
                  }
                </style>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='scroll_to("#card_5")'>Next</a>
      </div>
    </form>
  </div>

</div>
<!--/.Card-->

{% endblock %}
