{% extends "card_template.html" %}
{% block content %}
<!-- Card-->
<div class="card-content">
  <!--Title-->
  <span class="card-title">
    <h4 class="card-title text-center">Food Donation Description</h4>
  </span>
      <!--Title-->

      <div class="row">
      <div class="input-field col s12 m8">
        <i class="fa fa-pie-chart prefix grey-text"></i>
        <input id="kind-of-food" type="text" class="validate">
        <label for="kind-of-food">Kind of food</label>
      </div>
      </div>
      <div class="row">
      <div class="input-field col s12 m8">
        <i class="fa fa-calculator prefix grey-text"></i>
        <input id="kind-of-food" type="text" class="validate">
        <label for="food-amount">Amount of food</label>
      </div>
      </div>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='gotoTab("test-swipe-4")'>Next</a>
      </div>
      </form>
</div>
{% endblock %}
