
{% block content %}
<!-- Card-->
<div class="card" id="card_4">
    <!-- Card Image -->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title text-center">Location &amp; Time</h4>

      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="defaultForm-email" class="form-control">
        <label for="defaultForm-email">Location</label>
      </div>

      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="password" id="defaultForm-pass" class="form-control">
        <label for="defaultForm-pass">Pick-Up Window</label>
      </div>

      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='scroll_to("#card_5")'>Next</a>
      </div>
    </form>
  </div>

</div>
<!--/.Card-->

{% endblock %}
