{% block content %}
<!-- Card-->
<div class="card" id="card_2">
    <!-- Card Image -->
    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title text-center"><em>Ready Set Go</em></h4>
      <!--Text-->
      <p class="h5 text-center mb-4">Things you'll need</p>

      <ul class="list-unstyled">
    <li class="media">
        <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Description</h5>
            <h6> Let us know about your donation.</h6>
        </div>
    </li>
    <li class="media my-4">
        <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Pick-up Time Window</h5>
             <h6>Time our volunteers can pickup your donation</h6>
        </div>
    </li>
    <li class="media">
        <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Point of Contact</h5>
            <h6>Person volunteers should contact upon arrival</h6>
        </div>
    </li>
</ul>
      <div class="text-center">
        <a href="#" class="btn btn-primary" onclick='scroll_to("#card_3")'>Lets Do This</a>
      </div>
    </form>
  </div>

</div>
<!--/.Card-->
{% endblock %}
