{% extends "main_template.html" %}

{% block content %}

 <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Step 1 Login</a></li>
    <li class="tab col s3"><a href="#test-swipe-2">Prep</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Description</a></li>
    <li class="tab col s3"><a href="#test-swipe-4">Time</a></li>
    <li class="tab col s3"><a href="#test-swipe-5">POC</a></li>
    <li class="tab col s3"><a href="#test-swipe-6">Location</a></li>
    <li class="tab col s3"><a href="#test-swipe-7">Thanks</a></li>
  </ul>

  <div id="test-swipe-1" class="col s12 blue">
      {% include "card_1_login.html" %}
  </div>
  <div id="test-swipe-2" class="col s12 blue">
      {% include "card_2_get_items_ready.html" %}
  </div>
  <div id="test-swipe-3" class="col s12 blue">
      {% include "card_3_food_donation_description.html" %}
  </div>
  <div id="test-swipe-4" class="col s12 blue">
      {% include "card_4_time_window.html" %}
  </div>
  <div id="test-swipe-5" class="col s12 blue">
      {% include "card_5_poc.html" %}
  </div>
  <div id="test-swipe-6" class="col s12 blue">
      {% include "card_6_location.html" %}
  </div>
  <div id="test-swipe-7" class="col s12 blue">
      {% include "card_7_thanks.html" %}
  </div>

    <!--Google Authentication-->
    <!--popup-->
    <script>
      function signInPopup() {

        // Using a popup.
        var provider = new firebase.auth.GoogleAuthProvider();
        provider.addScope('profile');
        provider.addScope('email');
        firebase.auth().signInWithPopup(provider).then(function (result) {
          // This gives you a Google Access Token.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;

          console.log(user.email);
          console.log(user.displayName);
        });
      }
    </script>


    <!--redirect-->
    <script>
      function signInRedirect() {

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL).then(function() {
          var provider = new firebase.auth.GoogleAuthProvider();
          firebase.auth().signInWithRedirect(provider);
        })
          .catch(function(error) {
            var errorCode = error.code;
            var errorMessage = error.message;
          });
      }

    </script>

    <script>
      function initApp() {
        firebase.auth().getRedirectResult().then(function(result) {
          if (result.credential) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.accessToken;
            // ...
          }
          // The signed-in user info.
          var user = result.user;
          console.log(user.email);
        // goto login page

          scroll_to("#card_2");

        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
      }
    </script>


    <!-- Onload Function Def -->
    <script>
      window.onload = function() {
        initApp()
      }
    </script>


  {% endblock %}

