{% extends "firebase_bootstrap_md_template.html" %}

    {% block content %}
    <div class="container-fluid">
    <br/>
    {% include "card_1_login.html" %}
    <br/>
    {% include "card_2_get_items_ready.html" %}
    <br/>
    {% include "card_3_food_donation_description.html" %}
    <br/>
    {% include "card_4_time_window.html" %}
    <br/>
    {% include "card_5_poc.html" %}
    <br/>
    {% include "card_6_location.html" %}
    <br/>
    {% include "card_7_thanks.html" %}
    </div>



    <script>
      function scroll_to(next_target) {
        $('html, body').animate({
          scrollTop: $(next_target).offset().top
        }, 1000);
      }
    </script>

    <!--Google Authentication-->
    <!--popup-->
    <script>
      function signInPopup() {

        // Using a popup.
        var provider = new firebase.auth.GoogleAuthProvider();
        provider.addScope('profile');
        provider.addScope('email');
        firebase.auth().signInWithPopup(provider).then(function (result) {
          // This gives you a Google Access Token.
          var token = result.credential.accessToken;
          // The signed-in user info.
          var user = result.user;

          console.log(user.email);
          console.log(user.displayName);
        });
      }
    </script>


    <!--redirect-->
    <script>
      function signInRedirect() {

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL).then(function() {
          var provider = new firebase.auth.GoogleAuthProvider();
          firebase.auth().signInWithRedirect(provider);
        })
          .catch(function(error) {
            var errorCode = error.code;
            var errorMessage = error.message;
          });
      }

    </script>

    <script>
      function initApp() {
        firebase.auth().getRedirectResult().then(function(result) {
          if (result.credential) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.accessToken;
            // ...
          }
          // The signed-in user info.
          var user = result.user;
          console.log(user.email);
        // goto login page

          scroll_to("#card_2");
          /*
          post( "{{url_for('login_success')}}",
            { name: user.displayName,
              email: user.email
            }
          );*/

        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // The email of the user's account used.
          var email = error.email;
          // The firebase.auth.AuthCredential type that was used.
          var credential = error.credential;
          // ...
        });
      }
    </script>


    <!-- POST FORM HACK -->
    <script>
      function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
    </script>


    <!-- Onload Function Def -->
    <script>
      window.onload = function() {
        initApp()
      }
    </script>
  {% endblock %}
